@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
  color: black;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 900px) {
  html,
body {
    font-size: 50%;
  }
}
@media (max-width: 1200px) {
  html,
body {
    font-size: 56.25%;
  }
}
@media (min-width: 1800px) {
  html,
body {
    font-size: 75%;
  }
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.background-text, .banner .background-title-text1,
.background-newmark-text {
  font-family: "Montserrat", sans-serif;
}

.price, .banner .third-price, .banner .second-price,
.list,
.detail-title {
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #cad3d3;
  max-width: 100%;
  padding: 20px 20px;
}
.container .card-wrapper {
  margin-right: 42px;
  margin-top: 80px;
}
.container .card-wrapper .inner-card {
  background-color: white;
  max-width: 362px;
  max-height: 768px;
  transition: 0.3s;
}
.container .card-wrapper:hover {
  box-shadow: 0px 0px 10px rgb(82, 82, 82);
}
@media (max-width: 900px) {
  .container .card-wrapper {
    margin-right: unset;
  }
}
.container .card3-wrapper {
  margin-right: unset;
}
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }
}

.banner {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
}
.banner .price, .banner .third-price, .banner .second-price {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  flex-direction: column;
  min-width: 12rem;
  min-height: 12rem;
  top: -60px;
  position: absolute;
  z-index: 1;
}
.banner .price h3, .banner .third-price h3, .banner .second-price h3 {
  color: #2196f7;
  font-size: 3.2rem;
  font-weight: 300;
}
.banner .price p, .banner .third-price p, .banner .second-price p {
  color: #99a9b5;
  font-size: 1.6rem;
  font-weight: 400;
}
.banner .second-price h3 {
  color: #cc4392;
}
.banner .third-price h3 {
  color: #32ad1e;
}
.banner .background {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 272px;
  overflow: hidden;
}
.banner .background-img {
  filter: brightness(50%);
  height: 100%;
  position: relative;
  transform: scale(1.05);
  transition: 0.3s;
  width: 100%;
}
.banner .background-text, .banner .background-title-text1 {
  color: white;
  font-size: 3.6rem;
  font-weight: 300;
  position: absolute;
  z-index: 1;
}
.banner .background-sub-text {
  color: #aebec2;
  font-size: 1.8rem;
}
.banner .background-title {
  position: absolute;
  text-align: center;
}
.banner .background-title-text1 {
  position: relative;
}
.banner .background-title-text2 {
  color: #b6c6c9;
  font-size: 1.4rem;
  position: relative;
  z-index: 1;
}
.banner .background-newmark {
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 1;
}
.banner .background-newmark-text {
  color: white;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 28px;
  left: 18px;
}
.banner .background-img:hover {
  transform: scale(1.25);
}

.detail {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: unset;
}
.detail-title {
  margin: 25px 11px;
  text-align: center;
}
.detail-title h4 {
  color: #5f727f;
  font-size: 2.4rem;
  font-weight: 300;
}
.detail-title p {
  color: #99a9b5;
  font-size: 1.4rem;
  font-weight: 400;
}
.detail-description {
  width: 100%;
}
.detail-description .list {
  list-style: none;
  text-align: center;
}
.detail-description .list-item {
  align-items: center;
  display: flex;
  justify-content: center;
  color: #5f727f;
  font-size: 1.6rem;
  font-weight: 400;
  height: 50px;
}
.detail-description .list-item-pri {
  background-color: #f4f6f7;
}
.detail-control {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 150px;
}
.detail-control .pri-btn {
  border: 1px solid;
  background-color: transparent;
  color: #2196f7;
  font-family: "Montserrat", sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
  min-height: 50px;
  min-width: 170px;
  border-color: #2196f7;
}
.detail-control .pri-btn:hover {
  cursor: pointer;
}
@media (max-width: 900px) {
  .detail-control .pri-btn {
    min-width: 300px;
  }
}
@media (max-width: 600px) {
  .detail-control .pri-btn {
    min-width: 280px;
  }
}
.detail-control .pri-btn:hover {
  border: 1px solid;
  background-color: #2196f7;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
  min-height: 50px;
  min-width: 170px;
  transition: 0.3s;
}
.detail-control .pri-btn:hover:hover {
  cursor: pointer;
}
@media (max-width: 900px) {
  .detail-control .pri-btn:hover {
    min-width: 300px;
  }
}
@media (max-width: 600px) {
  .detail-control .pri-btn:hover {
    min-width: 280px;
  }
}
.detail-control .second-btn {
  border: 1px solid;
  background-color: #6c136f;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
  min-height: 50px;
  min-width: 170px;
  border-color: #6c136f;
}
.detail-control .second-btn:hover {
  cursor: pointer;
}
@media (max-width: 900px) {
  .detail-control .second-btn {
    min-width: 300px;
  }
}
@media (max-width: 600px) {
  .detail-control .second-btn {
    min-width: 280px;
  }
}
.detail-control .second-btn:hover {
  border: 1px solid;
  background-color: #3f0140;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
  min-height: 50px;
  min-width: 170px;
  transition: 0.3s;
}
.detail-control .second-btn:hover:hover {
  cursor: pointer;
}
@media (max-width: 900px) {
  .detail-control .second-btn:hover {
    min-width: 300px;
  }
}
@media (max-width: 600px) {
  .detail-control .second-btn:hover {
    min-width: 280px;
  }
}
.detail-control .third-btn {
  border: 1px solid;
  background-color: transparent;
  color: #32ad1e;
  font-family: "Montserrat", sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
  min-height: 50px;
  min-width: 170px;
  border-color: #32ad1e;
}
.detail-control .third-btn:hover {
  cursor: pointer;
}
@media (max-width: 900px) {
  .detail-control .third-btn {
    min-width: 300px;
  }
}
@media (max-width: 600px) {
  .detail-control .third-btn {
    min-width: 280px;
  }
}
.detail-control .third-btn:hover {
  border: 1px solid;
  background-color: #69b35e;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.9rem;
  font-weight: 300;
  min-height: 50px;
  min-width: 170px;
  transition: 0.3s;
}
.detail-control .third-btn:hover:hover {
  cursor: pointer;
}
@media (max-width: 900px) {
  .detail-control .third-btn:hover {
    min-width: 300px;
  }
}
@media (max-width: 600px) {
  .detail-control .third-btn:hover {
    min-width: 280px;
  }
}

/*# sourceMappingURL=style.css.map */
